---
layout: base.html 
subtitle: Come recuperare i software usati al campo 
---

<div id="head">
    <a href="{{rootPath}}index.html">
        <img src="{{rootPath}}img/starwars.png" width="760" height="300" border="0" />
    </a>
</div>
<div id="content">

    <p><span class="titolo">Documenti Reparto:</span></p>

    <ul>
        <li><a href="{{rootPath}}documenti/catechesi/">Catechesi</a></li>
        <!-- <li><a href="{{rootPath}}documenti/copertina/copertina_dvd_slim.pdf">Copertina DVD</a></li> -->
        <li><a href="{{rootPath}}documenti/staff.html">Indirizzario Staff</a></li>
    </ul>


    <span class="titolo">Sito al campo</span>
    <ul>
        <li><a href="{{rootPath}}blog/index.html" target="_blank">Guarda il blog pubblicato durante il campo</a></li>
    </ul>

    <span class="titolo">Video Campo</span>
    <ul>
        <li><a href="{{rootPath}}documenti/ricordo/Campetto_di_Competenza_Bit_Prepared.mp4" target="_blank">ricordo campo</a></li>
    </ul>

    <span class="titolo">Segnapunti</span>
    <ul>
        <li><a href="{{rootPath}}documenti/segnapunti/puntel.pdf" target="_blank">Schema segnapunti</a></li>
        <li><a href="{{rootPath}}documenti/segnapunti/puntel.png" target="_blank">PCB</a></li>
    </ul>

</div>
<div id="footer">
    <img src="{{rootPath}}img/footer.png" width="760" height="46"></img>
</div>