---
layout: base.html
subtitle: Varie
---

<div id="head">
    <a href="{{rootPath}}index.html">
        <img src="{{rootPath}}img/starwars.png" width="760" height="300" border="0" />
    </a>
</div>
<div id="content">
    
<p><span class="titolo">Varie:</span></p>

<ul>
    <li>
        <a href="utility_scout.html">Utilit&agrave; scout</a>
    </li>
    <li>
        <a href="{{rootPath}}varie/morse.mp3">Orsa in Maggiore - &quot;Io so a memoria il morse&quot;</a> [<a href="{{rootPath}}varie/morse.wma">audio - wma</a>]
    </li>
    <li>
        <a href="{{rootPath}}varie/star-jedi-outline-font.zip">Font Star Wars</a>
    </li>
</ul>

</div>
<div id="footer">
    <img src="{{rootPath}}img/footer.png" width="760" height="46"></img>
</div>