---
layout: base.html 
subtitle: Utilità Scout
---

<div id="head">
    <a href="{{rootPath}}index.html">
        <img src="{{rootPath}}img/starwars.png" width="760" height="300" border="0" />
    </a>
</div>
<div id="content">

    <p><span class="titolo">Utilita Scout:</span></p>

    <ul>
        <li>
            <a href="{{rootPath}}varie/utility_scout/promessalegge/promessalegge.gif" target="_blank">LEGGE E PROMESSA</a>
            <p>
        </li>
        <li>
            <a href="{{rootPath}}varie/utility_scout/canti_scout/" target="_blank">CANTI SCOUT</a>
            <p>
        </li>
        <li>
            <p>IMMAGINI SULLO SCOUTISMO</p>
            <p>
                <div align="left">
                    <p>
                        <ul>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/scoutismo per ragazzi/" target="_blank">I disegni di scoutismo per ragazzi</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/appunti di viaggio/" target="_blank">I disegni di appunti di viaggio</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/manuale dei lupetti/" target="_blank">I disegni del manuale dei lupetti</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/taccuino/" target="_blank">I disegni di taccuino</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/brevetti/" target="_blank">I brevetti</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/specialita/" target="_blank">Le specialità</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/specsq/" target="_blank">Le specialità di squadriglia</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/bp-albumfotog/" target="_blank">Album fotografico</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/immagini/clipart/" target="_blank">Clip-art</a>
                                <p>
                            </li>
                        </ul>

                </div>

        </li>

        <li>
            <p>SCOUTISMO PER RAGAZZI</p>
            <p>
                <div align="left">
                    <p>
                        <ul>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/scoutismo_per_ragazzi/scouting_for_boys-1.pdf" target="_blank">Parte 1</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/scoutismo_per_ragazzi/scouting_for_boys-2.pdf" target="_blank">Parte 2</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/scoutismo_per_ragazzi/scouting_for_boys-3.pdf" target="_blank">Parte 3</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/scoutismo_per_ragazzi/scouting_for_boys-4.pdf" target="_blank">Parte 4</a>
                                <p>
                            </li>
                            <li>
                                <a href="{{rootPath}}varie/utility_scout/scoutismo_per_ragazzi/scouting_for_boys-5.pdf" target="_blank">Parte 5</a>
                                <p>
                            </li>
                        </ul>

                </div>


                <li>
                    <a href="{{rootPath}}varie/utility_scout/rai_speciale_scout.avi" target="_blank">SPECIALE TG1 SULLO SCOUTISMO E SUL SUO CENTENARIO</a>
                    <p>
                </li>

    </ul>

</div>
<div id="footer">
    <img src="{{rootPath}}img/footer.png" width="760" height="46"></img>
</div>