---
layout: base.html
---

<div id="head">
    <a href="{{rootPath}}index.html">
        <img src="{{rootPath}}img/starwars.png" width="760" height="300" border="0" />
    </a>
</div>
<div id="content">
    <p class="titolo">Costigiola 2022</p>
    <p style="font-size:12px ">
         {{#markdown}}
        ##LETTERA##
         {{/markdown}}
    </p>
    <p>
        <center>Buona caccia!<br></br>La Staff del Campo</center>
    </p>
    <p>
         {{#markdown}}
        ##SUBLETTERA##
         {{/markdown}}
    </p>
    <p align="center">
        <a href="{{rootPath}}angolisq/reparto/fotogruppo.jpg" target="_blank">
            <img src="{{rootPath}}angolisq/reparto/thumb_fotogruppo.jpg" alt="Foto di Gruppo" border="0" width="650"></img>
        </a>
        <br></br>
        <em>(clicca sulla foto per ingradirla)</em>
        <br></br>
    </p>
    <p><font size="1">Questa USB &egrave; stato realizzato &quot;in real time&quot; nell'ultima notte da Cecilia R., Nicola, Daniele F., Stefano T., Enrico, Luciano.</font></p>
</div>
<div id="footer">
    <img src="{{rootPath}}img/footer.png" width="760" height="46"></img>
</div>